.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.packmanLoader {
  width: 172px;
  height: 43.2px;
  padding: 3.6px 0;
  box-sizing: border-box;
  display: flex;
  animation: l5-0 1.5s infinite steps(6);
  border-radius: 10% / 50%;
  background: linear-gradient(#000 0 0) 0 0/0% 100% no-repeat,
    radial-gradient(circle 5.4px, #eeee89 90%, #0000) 0 0/20% 100% #000;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.packmanLoader::before {
  content: "";
  width: 36px;
  transform: translate(-100%);
  border-radius: 50%;
  background: #ffff2d;
  animation: l5-1 0.125s 0.153s infinite steps(5) alternate,
    l5-2 1.5s infinite linear;
}

@keyframes l5-1 {
  0% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0,
      0 0,
      0 100%,
      100% 100%,
      100% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      100% 65%,
      100% 0,
      0 0,
      0 100%,
      100% 100%,
      100% 35%
    );
  }
}

@keyframes l5-2 {
  100% {
    transform: translate(172px);
  }
}

@keyframes l5-0 {
  100% {
    background-size: 120% 100%, 20% 100%;
  }
}

.loaderText {
  font-weight: bold;
  font-family: monospace;
  display: inline-grid;
  font-size: 30px;
  margin-bottom: 78px;
}
.loaderText:before,
.loaderText:after {
  content: "Loading...";
  grid-area: 1/1;
  -webkit-mask-size: 2ch 100%, 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: l37 1s infinite;
}
.loaderText:before {
  -webkit-mask-image: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
}
.loaderText:after {
  -webkit-mask-image: linear-gradient(#000 0 0);
  transform: scaleY(0.5);
}

@keyframes l37 {
  0% {
    -webkit-mask-position: 1ch 0, 0 0;
  }
  12.5% {
    -webkit-mask-position: 100% 0, 0 0;
  }
  25% {
    -webkit-mask-position: 4ch 0, 0 0;
  }
  37.5% {
    -webkit-mask-position: 8ch 0, 0 0;
  }
  50% {
    -webkit-mask-position: 2ch 0, 0 0;
  }
  62.5% {
    -webkit-mask-position: 100% 0, 0 0;
  }
  75% {
    -webkit-mask-position: 0ch 0, 0 0;
  }
  87.5% {
    -webkit-mask-position: 6ch 0, 0 0;
  }
  100% {
    -webkit-mask-position: 3ch 0, 0 0;
  }
}
